* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

/* sekcja miejsc do odwiedzenia (zdjęcia) */

div.singleplace img {
    display: inline-block;
    width: 100%;

}

/* sekcja mapy */
section.map iframe {
    width: 100%;
}

/* footer */
p.obs {
    text-align: center;
    margin-bottom: 8px;
    padding-top: 16px;
}

div.sm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.ikon {
    padding: 4px;

    margin-bottom: 8px;
}

/* sekcja kontaktu */
section.contact i {

    font-size: 32px;
    color: rgb(101, 49, 51);
    text-align: center;
    margin: 8px;
}

/* h2 */
h2.h2 {
    padding-bottom: 8px;
    padding-top: 8px;

}

.flex_column_container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.flex_beginning {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex_ikona {
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
    
}

.flex_one_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8px;

}

.single_item:last-child {
    margin-bottom: 0px;
}

div.sigle_placea {
    background-color: #f2e3d6;
    text-align: center;
    padding: 8px;
    margin: 8px;

}

h3.h3 {
    padding: 4px;
    color: #653133;
}

/* odtąd jest już ładnie z tablicy :) */
/* newsletter */
section.newsletter {
    background-color: #653133;
    color: #fff;
    padding: 20px;

}

section.newsletter h2 {
    text-transform: uppercase;
    margin-bottom: 10px;
}

section.newletter p {
    padding: 10px 0px;
}

section.newsletter form button {
    background-color: #f2e3d6;
    border: 1px solid #f2e3d6;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    margin-top: 10px;
    width: 100%;
}

section.newsletter form .form_input_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section.newsletter form .form_input_box input {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px 0 10px 10px;
    border-radius: 10px;
    border: none;
}

section.newsletter form button:hover {
    background-color: aqua;
    border: 1px solid #f2e3d6;
    color: #f2e3d6;
    transition: 0.3s;
}

/* komentarze */
section.comments {
    background-image: url('https://cdn.pixabay.com/photo/2015/08/30/19/07/venice-914594_960_720.jpg');
    background-repeat: no-repeat;
    background-position: 55% 55%;
    background-size: cover;
    background-attachment: fixed;

}

section.comments .singlecomment {
    background-color: #f2e3d68d;
    margin-bottom: 20px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 20px;
}

section.comments .singlecomment p:first-child {
    line-height: 1.3;
    text-align: center;
}


section.comments .singlecomment p:last-child {
    font-weight: bold;
    align-self: flex-end;
    margin-top: 10px;
}

/* nagłówek */

header {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-image: url('https://cdn.pixabay.com/photo/2015/08/30/19/07/venice-914594_960_720.jpg');
    background-repeat: no-repeat;
    background-position: 55% 55%;
    background-size: cover;

}

header a {
    background-color: #f2e3d6;
    border: 1px solid #f2e3d6;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin-top: 10px;
    width: 70%;
    text-align: center
}

header a:hover {
    background-color: aqua;
    border: 1px solid #f2e3d6;
    color: #f2e3d6;
    transition: 0.3s;
}